* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit';
}
  
  
.header {
    display: flex;
    background-color: #1a73e8;
    height: 7em;
    color: white;
    font-family: 'Kanit';
    align-items: center;
}


  
.header h1 {
    position: relative;
    left: 1.5em;
    font-size: 3.4em;
}

.inicio {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    margin-left: 1200px;
}
  
.inicio a {
    text-decoration: none;
    color: inherit;
}
  
button {
    position: relative;
    right: -1em;
    width: 3.3em;
    background-color: #1564cc;
    color: white;
}

.password, .email{
    display: flex;
    flex-direction: column;
    align-self: auto;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 3em;
    margin-left: 7em;
    margin-top: 6em;
    width: 50em;
}

.impor h3{
    font-size: 2.8em;
}

.news{
    font-size: 1.5em;
    width: 30em;
    margin-top: 2em;
    margin-left: 4em;
    line-height: 2.9em;
}

span{
    font-weight: bolder;
}

.inicio-sesion{
    display: flex;
    flex-direction: column;
    height: 53em;
    width: 45em;
    margin-top: -33em;
    margin-left: 77em;
}


 