* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit';
}
  
  
.header {
    display: flex;
    background-color: #1a73e8;
    height: 7em;
    color: white;
    font-family: 'Kanit';
    align-items: center;
}


  
.header h1 {
    position: relative;
    left: 1.5em;
    font-size: 3.4em;
}

.inicio {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    margin-left: 1200px;
}
  
.inicio a {
    text-decoration: none;
    color: inherit;
}
  
button {
    position: relative;
    right: -1em;
    width: 3.3em;
    background-color: #1564cc;
    color: white;
}

.password, .email{
    display: flex;
    flex-direction: column;
    align-self: auto;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 3em;
    margin-left: 7em;
    margin-top: 6em;
    width: 50em;
}

.impor h3{
    font-size: 2.8em;
}

.news{
    font-size: 1.5em;
    width: 30em;
    margin-top: 2em;
    margin-left: 4em;
    line-height: 2.9em;
}

span{
    color: #1564cc;
    font-weight: bolder;
}

.inicio-sesion{
    display: block;
    flex-direction: column;
    height: 53em;
    width: 45em;
    margin-top: -33em;
    margin-left: 77em;
}

.inputs .nombres{
    line-height: 7em;
    margin-bottom: 1em;
    width: 36em;
}
.inputs .nombres input{
    height: 3em;
    width: 15.7em;
}

.inputs .nombres input:last-child{
    position: relative;
    left: 7.3;
}

.infoP {
    width: 75%;
    display: block;
}
  
  .infoP input {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    height: 3em;
}
 
.inicio-sesion h2{
    font-size: 4em;
}
.txt-in p{
    font-size: 1.3em;
}
.inicio-sesion input{
    font-size: 1em;
    padding: 0.6em 1em;
    border: none;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: #333;
}
.datos h4{
    line-height: 50px;
}
.datos select{
    height: 2em;
    width: 4em;
}
.datos select:nth-child(4){
    margin-right: 6em;
}
.datos select:nth-child(3){
    margin-left: 1.3em;
    margin-right: 1.3em;
}

.genero{
    line-height: 3em;
    display: flex;
}
.genero input{
    width: 1.3em;
    margin-right: 20px;
}
.genero input:nth-child(3){
    margin-left: 20px;
}


.ultimo button{
    position: relative;
    bottom: -1em;
    left: -0.1em;
    font-size: 20px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 20px;
    width: 14.5em;
    height: 3em;
    background-image: linear-gradient(to bottom, #5a8847, #73ae5a);
    color: white;
    border: none;
    border-radius: 0.6em;
}

.ultimo p{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: -2.9em;
}
